{% extends 'base.html'%}

{% import 'macro.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ txt }}</title>
        {% else %}
        <title> News highlights </title>
        {% endif %}
    </head>
    <body>
        {% block content %}

        <ul>
            {{macro.displaySources(general)}}
        </ul>
        <!-- Top headlines-->
        <h2>Other news</h2>
        <ul>
           {{macro.displayNews(top_headlines)}}
        </ul>
        
       

        {% endblock %}
    </body>
</html>